<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/Semantic-UI-CSS-master/semantic.min.css}">
<link rel="stylesheet" th:href="@{/live2d/css/live2d.css}"/>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/css/Semantic-UI-CSS-master/semantic.min.js}"></script>
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content"></div>
	
	<div id="landlord">
		<div class="message" style="opacity: 0"></div>
		<canvas id="live2d" width="280" height="250" class="live2d"></canvas>
		<div class="hide-button">隐藏</div>
	</div>
	
	<script type="text/javascript">
		var message_Path = '/live2d/'	
	</script>
	<script type="text/javascript"  th:src="@{/live2d/js/live2d.js}"></script>
	<script type="text/javascript"  th:src="@{/live2d/js/message.js}"></script>
	<script type="text/javascript">
		loadlive2d("live2d", "/live2d/model/tia/model.json");
	</script>


</body>
</html>