<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/Semantic-UI-CSS-master/semantic.min.css}">
<link rel="stylesheet" th:href="@{/live2d/css/live2d.css}"/>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/common.css}">
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/css/Semantic-UI-CSS-master/semantic.min.js}"></script>
<title>Insert title here</title>
</head>
<body>

	<div layout:fragment="content"></div>
	
</body>
</html>