<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
<script th:src="@{/js/lazy-load.js}"></script>
</head>
<body>
	<div class="container" layout:fragment="content">

		<div class="row">
			<div class="top-menu">
				<div class="ui equal width grid">
					<div class="equal width row">
						<div class="column">
							<a class="nav" href="">About</a>
						</div>
						<div class="column">
							<img src="/img/stussy-logo.jpg" width="100" height="60"
								style="vertical-align: text-top;">
						</div>
						<div class="column">
							<a class="nav" th:href="@{/ssm/logout}">Logout</a>
						</div>
					</div>
				</div>
				<!-- <ul>
						<li>About</li><li><img src="/img/logo.jpg" width="100" height="60" style="vertical-align:text-top;"></li><li>Logout</li>
					</ul> -->
			</div>
		</div>

		<div class="row" style="padding-top: 10px; padding-bottom: 20px;">
			<div class="ui stackable container menu"
				style="background: sliver; width: 1500px;">
				<a href="javascript:;" onclick="changeCategory(null)" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">news</a>
				<a href="javascript:;" onclick="changeCategory('shirts')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">shirts</a>
				<a href="javascript:;" onclick="changeCategory('pants')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">pants</a>
				<a href="javascript:;" onclick="changeCategory('T-shirts')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">T-shirts</a>
				<a href="javascript:;" onclick="changeCategory('jackets')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">jackets</a>
				<a href="javascript:;" onclick="changeCategory('hats')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">hats</a>
				<a href="javascript:;" onclick="changeCategory('bags')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">bags</a>
				<a href="javascript:;" onclick="changeCategory('accessories')" class="item"
					style="width: 12.5%; color: #1f1f1f; font-weight: bold; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important; text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;">accessories</a>
			</div>
		</div>

		<div class="ui two column centered grid">
			<div class="column">
				<div class="ui three stackable cards" id="dataList"></div>
			</div>
		</div>

	</div>
</body>
	
</html>