<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<script th:src="@{/js/lazy-load.js}"></script>
</head>
<body>
	<!-- load comment parts !-->
	<div class="container" layout:fragment="content">

		<div class="am-g">
		
			<header class="am-topbar am-topbar-fixed-top"
				style="background: white;z-index: 1092;">
				<div class="am-container">
					<div class="am-u-sm-3 am-u-sm-centered" style="padding-top: 0.5em;">
						<img src="/img/lm1.png" width="70" height="38">
					</div>
				</div>
			</header>

			<div data-am-widget="tabs" class="myAppTab am-tabs am-tabs-d2" style="margin:0;background-image: url(/img/timg.jpg);">
				<ul class="am-tabs-nav am-cf">
					<li class="am-active"><a href="[data-tab-panel-0]">MEN</a></li>
					<li class=""><a href="[data-tab-panel-1]">WOMEN</a></li>
				</ul>
				<div class="am-tabs-bd">
				
					<!-- MEN　page contents !-->
					<div data-tab-panel-0 class="myAppTabPanel am-tab-panel am-active" style="padding-bottom:0;padding-top: 14em;">
						<div data-am-widget="slider"
							class="myAppSlider am-slider am-slider-a1"
							data-am-slider='{"directionNav":false}'>
							<ul class="am-slides">
								<li><img src="/img/slide1.jpg"></li>
								<li><img src="/img/slide2.jpg"></li>
							</ul>
						</div>

						<div class="am-g" style="background: white;">
							<div id="dataList"></div>
						</div>

						<div class="am-g" style="background: white;">
							<table class="myAppTable">
								<tbody>
									<tr class="bottom-line">
										<td class="side-line">Express delivery in 3 days</td>
										<td>Free delivery from 90€</td>
									</tr>
									<tr>
										<td class="side-line">Free returns within 14 days</td>
										<td>100% secure payments</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="am-g" style="background:black;">
							<div class="contact-us">
								<div class="contact-title">CONTACT US</div>
								<div class="am-u-sm-6">
									<button style="width: 93%; display: block; margin: 0.5em auto"
										type="button" class="am-btn am-btn-default am-radius">Call
										us</button>
								</div>
								<div class="am-u-sm-6">
									<button style="width: 93%; display: block; margin: 0.5em auto"
										type="button" class="am-btn am-btn-default am-radius">Email
										us</button>
								</div>
								<div class="contact-details">
									<p>
										Monday to Friday </br>030-164-4951
									</p>
								</div>
							</div>
							<div class="follow-us">
								<div class="follow-title">
									FOLLOW US
								</div>
								<ul class="follow-medias">
									<li>
									<a href="##" class="am-icon-btn am-icon-twitter"></a>
									</li>
									<li>
									<a href="##" class="am-icon-btn am-icon-facebook"></a> 
									</li>
									<li>
									<a href="##" class="am-icon-btn am-icon-github"></a>
									</li>
									<li>
									<a href="##" class="am-icon-btn am-icon-instagram"></a>
									</li>
								</ul>	
							</div>
							<div class="options">
								<ul class="myOtherLink">
									<li><span class="am-icon-user"
										style="padding-right: 0.5em; color: #FFF;"></span>MY ACCOUNT<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li><span class="am-icon-map-pin"
										style="padding-right: 0.5em; color: #FFF;"></span>&nbsp;STORES<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li><span class="am-icon-star"
										style="padding-right: 0.5em; color: #FFF;"></span>WISHLIST<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li><span class="am-icon-envelope"
										style="padding-right: 0.5em; color: #FFF;"></span>CONTACT US<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li>LANGUAGE:ENGLISH<span class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
								</ul>
							</div>
						</div>

					</div>
					
					<!-- WOMEN　page contents !-->
					<div data-tab-panel-1 class="myAppTabPanel am-tab-panel" style="padding-bottom:0;padding-top: 14em;">
						<div data-am-widget="slider"
							class="myAppSlider am-slider am-slider-a1"
							data-am-slider='{"directionNav":false}'>
							<ul class="am-slides">
								<li><img src="/img/slide1.jpg"></li>
								<li><img src="/img/slide2.jpg"></li>
							</ul>
						</div>

						<div class="am-g" style="background: white;">
							<div id="dataList"></div>
						</div>

						<div class="am-g" style="background: white;">
							<table class="myAppTable">
								<tbody>
									<tr class="bottom-line">
										<td class="side-line">Express delivery in 3 days</td>
										<td>Free delivery from 90€</td>
									</tr>
									<tr>
										<td class="side-line">Free returns within 14 days</td>
										<td>100% secure payments</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="am-g" style="background:black;">
							<div class="contact-us">
								<div class="contact-title">CONTACT US</div>
								<div class="am-u-sm-6">
									<button style="width: 93%; display: block; margin: 0.5em auto"
										type="button" class="am-btn am-btn-default am-radius">Call
										us</button>
								</div>
								<div class="am-u-sm-6">
									<button style="width: 93%; display: block; margin: 0.5em auto"
										type="button" class="am-btn am-btn-default am-radius">Email
										us</button>
								</div>
								<div class="contact-details">
									<p>
										Monday to Friday </br>030-164-4951
									</p>
								</div>
							</div>
							<div class="follow-us">
								<div class="follow-title">
									FOLLOW US
								</div>
								<ul class="follow-medias">
									<li>
									<a href="##" class="am-icon-btn am-icon-twitter"></a>
									</li>
									<li>
									<a href="##" class="am-icon-btn am-icon-facebook"></a> 
									</li>
									<li>
									<a href="##" class="am-icon-btn am-icon-github"></a>
									</li>
									<li>
									<a href="##" class="am-icon-btn am-icon-instagram"></a>
									</li>
								</ul>	
							</div>
							<div class="options">
								<ul class="myOtherLink">
									<li><span class="am-icon-user"
										style="padding-right: 0.5em; color: #FFF;"></span>MY ACCOUNT<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li><span class="am-icon-map-pin"
										style="padding-right: 0.5em; color: #FFF;"></span>&nbsp;STORES<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li><span class="am-icon-star"
										style="padding-right: 0.5em; color: #FFF;"></span>WISHLIST<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li><span class="am-icon-envelope"
										style="padding-right: 0.5em; color: #FFF;"></span>CONTACT US<span
										class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
									<li>LANGUAGE:ENGLISH<span class="am-icon-angle-right"
										style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>


			<div class="amz-toolbar am-topbar-fixed-bottom am-cf"
				id="amz-toolbar" style="right: 10px;">
				<a href="#top" title="back to top"
					class="am-icon-btn am-icon-arrow-up am-active am-fr"
					id="amz-go-top"></a> <a href="#amz-offcanvas"
					class="am-icon-btn am-icon-bars am-show-sm-only amz-sidebar-toggle am-fr"
					id="personal"
					data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}"><span
					class="am-sr-only">left-bar</span></a>
			</div>



		</div>

		<div id="doc-oc-demo2" class="myAppOffcanvas am-offcanvas">
			<div class="am-offcanvas-bar" style="background: white;overflow:hidden;">
				<ul class="myCategory">
					<li onclick="changeCategory('news')">NEW IN<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('shirts')">SHIRTS<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('pants')">PANTS<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('T-shirts')">T-SHIRTS<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('jackets')">JACKETS<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('hats')">HATS<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('bags')">BAGS<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>
					<li onclick="changeCategory('accessories')">ACCESSORIES<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;"></span></li>	
				</ul>
				<ul class="myOtherLink">
							<li><span class="am-icon-user" style="padding-right:0.5em;color: #FFF;"></span>MY ACCOUNT<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;color: #FFF;"></span></li>
							<li><span class="am-icon-map-pin" style="padding-right:0.5em;color: #FFF;"></span>&nbsp;STORES<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;color: #FFF;"></span></li>
							<li><span class="am-icon-star" style="padding-right:0.5em;color: #FFF;"></span>WISHLIST<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;color: #FFF;"></span></li>
							<li><span class="am-icon-envelope" style="padding-right:0.5em;color: #FFF;"></span>CONTACT US<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;color: #FFF;"></span></li>
							<li>LANGUAGE:ENGLISH<span class="am-icon-angle-right" style="float:right;padding-right:0.5em;color: #FFF;"></span></li>
				</ul>
				<span style="color: #FFF;position: fixed;bottom: 2em;padding-left:1em;">Copyright ©  Last Mockingbird  </span>
		</div>
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/app.js"></script>
		<script>
			$(window).on('touchmove', function() {
				$('#amz-go-top').stop().animate({
					opacity : "0.3"
				}, 1);
				$('#personal').stop().animate({
					opacity : "0.3"
				}, 1);
			});
			$(window).on('touchend', function() {
				$('#amz-go-top').stop().animate({
					opacity : "0.8"
				}, 500);
				$('#personal').stop().animate({
					opacity : "0.8"
				}, 500);
			});
		</script>
	</div>
</body>
</html>