<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<script src="/js/side-bar.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="am-g">		
			<header class="am-topbar am-topbar-fixed-top"
				style="background: white; z-index: 1092;">
				<div class="am-container">
					<div class="am-u-sm-3 am-u-sm-centered" style="padding-top: 0.5em;">
						<img src="/img/lm1.png" width="70" height="38">
					</div>
				</div>
			</header>
			
			<div class="amz-toolbar am-topbar-fixed-bottom" id="amz-toolbar" style="width:60px;left: 355px;">
				<a href="#top" title="back to top" style="margin-bottom: 10px;"
					class="am-icon-btn am-icon-arrow-up am-active" id="amz-go-top"></a>
				<a href="#amz-offcanvas" style="margin-bottom: 10px;"
					class="am-icon-btn am-icon-bars am-show-sm-only amz-sidebar-toggle"
					id="side-bar"
					data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}">left-bar</a>
			</div>		
		</div>
		
		<div id="doc-oc-demo2" class="myAppOffcanvas am-offcanvas">
			<div class="am-offcanvas-bar"
				style="background: white; overflow: hidden;">
				<ul class="myCategory">
					<li th:onclick="|sendCategory('news',${clothes.sex})|">NEW IN<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('shirts',${clothes.sex})|">SHIRTS<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('pants',${clothes.sex})|">PANTS<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('T-shirts',${clothes.sex})|">T-SHIRTS<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('jackets',${clothes.sex})|">JACKETS<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('hats',${clothes.sex})|">HATS<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('bags',${clothes.sex})|">BAGS<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
					<li th:onclick="|sendCategory('accessories',${clothes.sex})|">ACCESSORIES<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em;"></span></li>
				</ul>
				<ul class="myOtherLink">
					<li><span class="am-icon-user"
						style="padding-right: 0.5em; color: #FFF;"></span>MY ACCOUNT<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
					<li><span class="am-icon-map-pin"
						style="padding-right: 0.5em; color: #FFF;"></span>&nbsp;STORES<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
					<li><span class="am-icon-star"
						style="padding-right: 0.5em; color: #FFF;"></span>WISHLIST<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
					<li><span class="am-icon-envelope"
						style="padding-right: 0.5em; color: #FFF;"></span>CONTACT US<span
						class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
					<li>LANGUAGE:ENGLISH<span class="am-icon-angle-right"
						style="float: right; padding-right: 0.5em; color: #FFF;"></span></li>
				</ul>
				<span
					style="color: #FFF; position: fixed; bottom: 2em; padding-left: 1em;">Copyright
					© Last Mockingbird </span>
			</div>
		</div>
	</div>
</body>
</html>