<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.ClothesMapper">
    <select id="findAll" resultType="clothes">
        SELECT 
        * 
        FROM CLOTHES
        WHERE
        <choose> 
	        <when test="category!=null and category!='news'">
	        	CATEGORY = #{category}
	        </when>
	        <otherwise>
	        	<![CDATA[TO_DAYS(NOW())-TO_DAYS(RELEASE_DATE)<30]]>
	        </otherwise>
        </choose>
       <if test="sex!=0">
        	AND SEX = #{sex}
       </if>

        LIMIT #{items}, 30
    </select>
    
    <select id="findById" resultType="clothes">
        SELECT 
        * 
        FROM CLOTHES
        WHERE
        ID = #{id}
    </select>	
</mapper>