<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.ClothesMapper">
    <select id="findAll" resultType="clothes">
        SELECT 
        * 
        FROM CLOTHES
        WHERE
        <choose> 
        <when test="category!=null">
        CATEGORY = #{category}
        </when>
        <otherwise>
        <![CDATA[AND TO_DAYS(NOW())-TO_DAYS(RELEASE_DATE)=<30]]>
        </otherwise>
        </choose>
        LIMIT #{items}, 30
    </select>
    
</mapper>