<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="findAll" resultType="user">
        SELECT 
        * 
        FROM USER
    </select>
    
    <delete id="delUser" parameterType="int">
    	DELETE
    	FROM USER
    	WHERE ID = #{ID}
    </delete>
    
    <select id="loginCheck" parameterType="User" resultType="User">
    	SELECT * FROM user WHERE ACCOUNT = #{account} AND PASSWORD = md5(#{password})
    </select>
    
    <insert id="registerUser" parameterType="User">
    	INSERT INTO USER (NAME,ACCOUNT,PASSWORD,SEX,MAIL,BIRTHDAY,REGISTER_DATE)
    	VALUES (#{name},#{account},md5(#{password}),#{sex},#{mail},#{birthday},NOW())
    </insert>
</mapper>